#menu {
	text-align: center;
}
#nav, #nav li {
	position: relative;
	margin: 0;
	padding: 0;
	z-index:108;
}
#nav li {
	list-style: none;
	display:inline-block;
}
/* nav link */
#nav a {
	display: block;
	line-height: 60px;
	padding:0 18px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;   		
	text-align:left;
	color:black;
	font-size:18px;		
	font-weight:bold;	
	text-transform:uppercase;
}
#nav a:hover {
	display: block;
	line-height: 60px;
	padding:0 18px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;   		
	text-align:left;
	color:#f0f0f0;
	font-size:18px;	
	font-weight:bold;		
	text-transform:uppercase;
}
/* nav dropdown */
#nav ul {
	top:60px;
	left:0px;
	padding: 0;
	position: absolute;
	display: none; /* hide dropdown */
	width: 280px;
	background: #e73c40;
}
#nav ul li {
	float: none;
	margin: 0;
	padding: 0;
}
#nav ul li a, #nav ul li a:link, #nav ul li a:visited  {
	float: none;
	display: block;
	width:280px;
	line-height: 30px;
	text-align:left;
	padding:0 18px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;   	
	color:black;
	font-size:16px;	
	font-weight:bold;	
	text-transform:uppercase;	
}
#nav ul li a:hover {
	float: none;
	display: block;
	width: 280px;
	line-height: 30px;
	text-align:left;
	padding:0 18px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;   	
	background: #f0f0f0;
	color:black;
	font-size:16px;
	font-weight:bold;	
	text-transform:uppercase;
}
#nav li:hover > ul {
	display: block; /* show dropdown on hover */
}

#nav {
	display: block !important;
}