* {
	font-family: "PT Sans", Tahoma, Verdana, Arial, sans-serif;
	margin:0;
	padding:0;
	text-decoration:none;
}
b, strong {
	font-weight:700;
}
nav {
	display: block;
}
body, html {
	width: 100%;
	background:white;
}
body, td {
	font-family: "PT Sans", Tahoma, Verdana, Arial, sans-serif;
	font-size:14px;
	font-weight: normal;
	color:black;
}
.centered {
	text-align: center;
}
.objectfit {
	width: 100%;
	height:100%;
	object-fit: cover;
	object-position: center top;
}
td, th {
	padding:7px;
}
th {
	font-size: 14px;
	font-weight: normal;
	background-color: black;
	color: white;
	height: 34px;
	line-height: 34px;
	text-align: center;
	vertical-align:middle;
}
.th {
	font-size: 14px;
	font-weight: normal;
	background-color: black;
	color: white;
	width:100%;
	height: 34px;
	line-height: 34px;
	text-align: center;
	vertical-align:middle;
	display:block;
	float:left;
	margin-bottom:5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
}
.border {
	border:1px solid #f1f2f3;
}
a {
	color: black;
}
a:hover {
	color: #3465a8;
}
a, a:hover {
	transition: color 0.3s ease, font-size 0.3s ease;
	-moz-transition: color 0.3s ease, font-size 0.3s ease;
	-webkit-transition: color 0.3s ease, font-size 0.3s ease;
	-o-transition: color 0.3s ease, font-size 0.3s ease;
}
h1 {
	width: 100%;
	display: block;
	float: left;
	color:black;
	font-size:24px;
	font-weight:bold;
	text-align:left;
	text-transform: uppercase;
	margin:0;
	margin-bottom:20px;
	padding-bottom:10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
input, select, textarea, .input {
	font-size:14px;
	color:black;
	background-color: white;
	padding: 7px;
	border: 1px inset #f0f0f0;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
}
input:focus, select:focus, textarea:focus {
	border: 1px inset black;
}
a.buton, a.buton:hover {
	background: black;
	color: white;
	display: block;
	font-weight: normal;
	width: 160px;
	height: 36px;
	line-height: 36px;
	overflow: hidden;
	text-align: center;
	font-family: "PT Sans", Tahoma, Verdana, Arial, sans-serif;
	font-size:14px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
}
a.buton:hover {
	background: #0079b0;
}
a.butoninline, a.butoninline:hover {
	background:black;
	color: white;
	display:inline-block;
	font-weight: normal;
	width:auto;
	height:auto;
	line-height:20px;
	padding:10px 20px;
	overflow: hidden;
	text-align: center;
	font-family: "PT Sans", Tahoma, Verdana, Arial, sans-serif;
	font-size:16px;
	margin-left:10px;
	margin-bottom:10px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
}
a.butoninline:hover {
	background:#0079b0;
}
.contoverall {
	width: 100%;
	display: block;
	float: left;
}
.contoverallup {
	width: 100%;
	display: block;
	float: left;
	background:black;
	padding:10px 0 10px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.contoverallmenu {
	width: 100%;
	display: block;
	float: left;
	background:#e73c40;
}
.contoveralldown {
	background:black;
	color:white;
	width: 100%;
	display: block;
	float: left;
	text-align: center;
	padding:30px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.paddingupdown {
	padding:40px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.callmenu {
	width: 100%;
	display: block;
	float: left;
}
.contall {
	width: 960px;
	display: block;
	margin: 0 auto;
}
.call, .cmain {
	width: 960px;
	display: block;
	float: left;
}
.clogo {
	width:auto;
	height:auto;
	display: inline-block;
	margin:auto;
}
.slide {
   	width: 100%;
	height:400px;
}
.contproduct {
	display:inline;
	float:left;
	width:300px;
	height:225px;
	margin-left:10px;
	margin-right:10px;
	margin-bottom:20px;
	position: relative;
}
.contproduct iframe {
	width:100%;
	height:100%;
}
.contproduct a.play {
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:10000;
}
.contproduct a.delete {
	position: absolute;
	top:-10px;
	right:-10px;
	width:40px;
	height:40px;
	line-height:40px;
	color:red;
	font-size:20px;
	font-weight:bold;
	border:3px solid red;
	background: white;
	border-radius: 50%;
	z-index:10000;
}
.mainscroll {
	width: 480px;
	display: block;
	margin:auto;
}
.inputleft, .inputright, .inputright2, .inputright3 {
	margin-bottom:3px;
	line-height:36px;
	display:inline;
	float:left;
}
.inputleft {
	width: 180px;
	text-align:right;
}
.inputright {
	width: 290px;
	margin-left:10px;
}
.inputright input, .inputright select, .inputright textarea {
	width:100%;
}
a.page-link, a.page-link:hover {
	background:black;
	color: white;
	display:inline-block;
	font-weight: normal;
	width:auto;
	height:auto;
	line-height:20px;
	padding:10px 20px;
	overflow: hidden;
	text-align: center;
	font-family: "PT Sans", Tahoma, Verdana, Arial, sans-serif;
	font-size:16px;
	margin-left:10px;
	margin-bottom:10px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
}
a.page-link:hover {
	background:#0079b0;
}